<div class="container">
  <h2>Sign up for Raffle!</h2>
  <%= render "layouts/flash_messages" %>
  <form action="<%= user_raffles_path %>" method="POST" class="sign-up-form">
    <div class="form-group">
      <label for="email">Enter Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="raffle">Choose Raffle:</label>
      <select name="raffle" class="form-control" id="raffle" placeholder="Select raffle">
        <% if @raffles.present? %>
          <% @raffles.each do |raffle| %>
            <option value="<%= raffle.try(:id) %>"><%= raffle.try(:name) %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>