<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <strong><%= flash[:notice] %></strong>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <strong><%= flash[:alert] %></strong>
  </div>
<% end %>